.card {
    background-color: white;
    color: black;
    flex: 1;
    padding: 20px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.contentWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    column-gap: 25px;

}

.card-container {
    position: relative;
    top: 99px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.description {
    color: grey;
    font-size: 15px;
}

img {
    height: 40px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}