.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companyName {
    margin-bottom: 10px;
    font-size: 1em;
}

.socialLinks {
    display: flex;
    gap: 15px;
}

.link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #007BFF;
}