:root {
    font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* color-scheme: light dark; */
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --orange-theme: #e06156;
    --orange-darker-theme: #ab4d44;
    --green-theme: #369679;
    --green-darker-theme: #2a755e;
    --grey-theme: #3e3f42;
    --darker-grey-theme: #242426;
    --backdrop-white: #e2e7ef;
    --text-color: rgb(102, 102, 102);
}

* {
    font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}


ul {
    list-style: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    cursor: pointer;
    /* color: lightgrey; */
}

body {
    margin: 0;
    display: flex;
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    flex-direction: column;
}

.hello {
    font-size: large;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button:focus,
button:focus-visible {
    outline: 3px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        /* color: #213546; */
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}


/* ----------------------- TEXT ------------------------ */

.body-text {
    font-size: 15px;
}

.heading-text {
    font-size: 21px;
}


.subheading-text {
    font-size: 18px;
}

.semi-bold {
    font-weight: 500
}

.light {
    font-weight: 300
}

.bold {
    font-weight: 700;
}

.grey {
    color: grey
}