.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navigationWrapper {
    display: flex;
    align-items: center;
}

.listWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    column-gap: 20px;
}

.logoText {
    color: white;
    font-weight: 700;
    font-size: 32px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    font-weight: 500;
    color: white;
    font-size: 18px;
}

/* mobile layout */

@media (max-width: 600px) {
    li {
        display: none;
    }
}


