.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navigationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.listWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 15px;
}

.logoText {
    color: white;
    font-weight: 700;
    font-size: 32px;
}


a {
    font-weight: 500;
    color: white;
    font-size: 18px;
}