.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 20px 0;
}

.textWrapper {
    flex: 1;
    padding-right: 20px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.description {
    font-size: 1em;
    color: #666;
}

.imageWrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}