.background {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    align-items: center;
    background-image: url('/public/white.jpg');
    background-size: cover;
    height: 100vh;
}

.mainContainer {
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    display: flex;
    max-width: 900px;
}

.heroImageContainer {
    flex: 1;
    display: flex;
    position: relative;
    border-radius: 15px;
}

.heroTextWrapper {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.heroTextWrapper>* {
    color: white;
}

.heroTextWrapper>h2 {
    font-size: 24px;
}

.heroTextWrapper>p {
    font-size: 12px;
}

.heroImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


}

.signUpContainer {
    padding: 40px
}


.signUpContainer h2 {
    /* text-align: center; */
    color: black;
}

.signUpContainer p {
    /* text-align: center; */
    color: grey;
    margin-bottom: 20px;
}

form:first-child {
    display: flex;
    background-color: red;

}

.formGroup {
    margin-bottom: 10px;
}



.fnamelnameWrapper {
    display: flex;
    column-gap: 10px;
}


.fnamelnameWrapper div {
    flex: 1
}


.formGroup select,
.fnamelnamewrapper select {
    background-color: white;
    border: 2px solid #ececec;
    border-radius: 8px;
    outline: 0px;
    padding: 10px;
    width: 100%;
}

.formGroup select::placeholder,
.fnamelnameWrapper select::placeholder {
    color: lightgrey;
}

.formGroup label,
.fnamelnameWrapper label {
    display: block;
    /* background-color: red; */
    font-size: 15px;
    color: grey;
    font-weight: 500;
    margin-bottom: 7px;
}

.formGroup input,
.fnamelnameWrapper input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ececec;
    background-color: white;
    border-radius: 8px;
}

.formGroup input::placeholder,
.fnamelnameWrapper input::placeholder {
    color: lightgrey;
}

.formGroup input:focus,
.fnamelnameWrapper input:focus {
    outline: 0;
    border: 2px solid #c7c7c7;
}

.submitButton {
    width: 100%;
    margin-top: 25 px;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--orange-theme);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.submitButton:hover {
    background-color: var(--orange-darker-theme);
    transform: translatey(-2px);
}