.background {
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex: 1;
    max-width: 600px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 15px;
}


.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: var(--orange-theme);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.header h2 {
    color: white;
}


.header p {
    color: white;
}

.formContainer form {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.choicesContainer {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.imageWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



.questionContainer p {
    font-weight: 500;
    color: black;
}

.choiceWrapper {
    display: flex;
    column-gap: 10px;

}


.choiceWrapper input[type="radio"] {
    accent-color: var(--orange-theme);
    background-color: white;
    min-width: 15px;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {

    .background {
        background-color: white;
    }

    .card {
        border-radius: 0px;
        height: 100%;
        box-shadow: none;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header {
        border-radius: 0px;
    }


    .imageWrapper img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}